.navbar {
  background-color: #2c3e50;
  padding: 10px 20px;
  color: white;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 1.4rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
}

.nav-links li a, .btn-logout {
  color: white;
  text-decoration: none;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-links li a.active {
  border-bottom: 2px solid #f39c12;
}

.btn-logout:hover {
  text-decoration: underline;
}
